@mixin btn {
  background: none;
  border-radius: 50px;
  padding: 8px 36px;
  box-shadow: $shadow__btn-primary;
  font-family: $headline;
  font-weight: 400;
  font-size: 1.125rem;
  display: flex;
  align-self: flex-start;
}

@mixin input {
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid $black;
}
