$black: #121212;
$white: #fbf9ff;

$dark_bg: #121212;
$light_bg: #ffffff;

$headline: 'Saira', sans-serif;
$text: 'Roboto', sans-serif;

// shadow
$shadow__btn-primary: 0px 4px 4px rgba(0, 0, 0, 0.57), inset 0px 1px 4px rgba(0, 0, 0, 0.4);
