$black: #0c0d0e;
$white: #fbf9ff;
$red: #d72638;
$orange: #ff6c0d;
$green: #213121;
$successColor: #058C42;

$dark_bg: #0c0d0e; 

$light_bg: #ffffff;

$headline: 'Saira', sans-serif;
$text: 'Roboto', sans-serif;

// shadow
$shadow__btn-primary: 0px 4px 4px rgba(0, 0, 0, 0.57),
  inset 0px 1px 4px rgba(0, 0, 0, 0.4);
$shadow__box-whiteBG: 0px 4px 4px rgba(0, 0, 0, 0.25);

//box-shadow
$box_shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
$radio_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow_btn_black: 0px 8px 15px rgba(0, 0, 0, 0.295);
$shadow_btn_black-hover: 0px 15px 20px rgba(255, 255, 255, 0.219);

$shadow_btn_white: 0px 8px 15px rgba(0, 0, 0, 0.1);
$shadow_btn_white-hover: 0px 15px 20px rgba(15, 15, 15, 0.603);

// Zaptec colors
$asphalt_black: #15181c;
$cloud_white: #f6f6f6;
$rock_grey: #525254;
$midnight_blue: #354654;
$moss_green: #737466;
$wood_brown: #564837;
