$black: #121212;
$white: #FBF9FF;

$dark_bg: #121212;
$light_bg: #ffffff;

$headline: 'Saira', sans-serif;
$text: 'Roboto', sans-serif;

// shadow
$shadow__btn-primary: 0px 4px 4px rgba(0, 0, 0, 0.57), inset 0px 1px 4px rgba(0, 0, 0, 0.4);
$shadow__box-whiteBG: 0px 4px 4px rgba(0, 0, 0, 0.25);


// Zaptec colors
$asphalt_black: #15181C;
$cloud_white: #F6F6F6;
$rock_grey: #525254;
$midnight_blue: #354654;
$moss_green: #737466;
$wood_brown: #564837;
